.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #344151;
    gap: 2.5rem;
}

.heading{
    color: aqua;
}

.btn-increment{
    border-right: 2px solid; 
    text-align: center;
 
    font-size: 3rem;
    width: 80px;
}
.btn-decrement {
    border-left: 2px solid;  
    text-align: center;
 
    font-size: 3rem;
    width: 80px;
}

 
.counter-div{
    display: flex;
    background-color: white;
    justify-content: center;
    gap: 3rem;
    border-radius: 0.125rem;
    font-size: 25px;
    color: #344151;
}

.count{
    font-weight:500;
    gap: 3rem;
    font-size: 2.5rem;
}